@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Inter', sans-serif;
}

/* Dark theme using media query */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Dark mode using Tailwind's "class" strategy */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Code font */
code,
pre {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
